@model Skp_ProjektDB.Models.ProjectModel
@{
    ViewData["Title"] = "SingleProjectView";
}

<div class="col-12 col-sm-12 col-md-12 col-lg-10 col-xl-12 py-2 card-color">

    <dl class="">

        <dd class="card-color text-center">
            <label style="font-size:20px; font-weight:bolder">Projekt info</label>
            <table class="table table-bordered table-info">
                <thead>
                    <tr>

                        <th class="text-center" scope="row">Titel</th>
                        <th class="text-center" scope="row">Beskrivelse</th>
                        <th class="text-center" scope="row">Start dato</th>
                        <th class="text-center" scope="row">Slut dato</th>

                    </tr>
                </thead>

                <tbody>

                    <tr>
                        <td class="align-middle text-center">@Model.Title</td>
                        <td class="align-middle text-center">@Model.Description</td>
                        <td class="align-middle text-center">@Model.StartDate.ToString("dd-MM-yyyy")</td>
                        <td class="align-middle text-center">@Model.EndDate.ToString("dd-MM-yyyy")</td>
                    </tr>

                </tbody>
            </table>
        </dd>

        <dd class="text-center card-color">
            <label asp-for="@Model.Team" style="font-weight:bold;"></label>
            <table class="table table-bordered table-sm table-info">
                <thead>
                    <tr>
                        <th scope="row">#</th>
                        <th scope="row">Name</th>
                        <th scope="row">Rolle</th>
                    </tr>
                </thead>
                @for (int j = 0; j < Model.Team.Count; j++)
                {
                    <tbody>
                        <tr>
                            <th scope="row" class="align-middle">

                                @{ int count = j + 1;}@count

                            </th>

                            <td class="align-middle ">
                                <form asp-action="SingleUserView" asp-controller="User">
                                    <button class="btn btn-link btn-sm" type="submit" name="userName" value="@Model.Team[j].Name">@Model.Team[j].Name</button>
                                </form>

                            </td>

                            <td class="align-middle">
                                @if (Model.Team[j].Roles.Count > 1)
                                {

                                    @for (int i = 0; i < Model.Team[j].Roles.Count; i++)
                                    {

                                        @if (i >= Model.Team[j].Roles.Count - 1)
                                        {
                                            <label>@Model.Team[j].Roles[i]</label>
                                        }
                                        else
                                        {
                                            <label>@Model.Team[j].Roles[i],</label>
                                        }

                                    }

                                }
                                else
                                {

                                    @Model.Team[j].Roles[0]

                                }
                            </td>
                        </tr>
                    </tbody>
                }

            </table>
        </dd>

        <dd>
            <div>

                <form asp-action="WriteToLog" asp-controller="Project" method="get">
                    <button type="submit" value="@this.Model.Id" name="projectId" class="btn btn-outline-info bg-dark">Skriv i log</button>
                </form>

                <ul class="list-group list-unstyled">
                    @foreach (var item in Model.Log)
                    {
                        <li class="list-group-item list-group-item-info w-50">@item</li>
                    }
                </ul>

            </div>
        </dd>

    </dl>

</div>