@model Skp_ProjektDB.Models.User

@{
    ViewData["Title"] = "SingleUserView";
}


<!-- This is the user display -->
<div class="row container-fluid">
    <!-- The cards outer shell -->
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 py-2 border border-light card-color">

        <!-- Makes a list for all the user information -->
        <dl>

            <!-- This is the name description with a added checkbox -->
            <dt>

                <input style="margin-left: 10px; margin-top:10px;" type="checkbox" />
                <label style="font-size:22px; text-align:center; width:100%;"> @Model.Name</label>

            </dt>

            <dt class="list-group-item-info">
                <label style="margin-left:20px;" asp-for="@Model.Competence"></label>
            </dt>

            <dd class="list-group-item-info">

                <ul style="list-style-type:none;">

                    <li>
                        @Model.Competence
                    </li>


                </ul>
            </dd>

            <dt class="list-group-item-info">
                <label style="margin-left:20px;">@Html.DisplayNameFor(m => m.Roles)</label>
            </dt>

            <dd class="list-group-item-info">

                <ul style="list-style-type:none;">
                    @for (int j = 0; j < Model.Roles.Count; j++)
                    {

                        <li>
                            @Model.Roles[j]
                        </li>

                    }
                </ul>
            </dd>

            <dd class="list-group-item-info border border-dark" style=" text-align:center;">
                <label asp-for="@Model.Projects"></label>

                <table class="table table-bordered table-sm table-info table-hover">

                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Titel</th>
                            <th scope="col">Projektleder</th>
                            <th scope="col">Start dato</th>
                        </tr>
                    </thead>

                    @if (Model.Projects.Count != 0)
                    {
                        @for (int j = 0; j < Model.Projects.Count; j++)
                        {
                            <tbody>
                                <tr>
                                    <th scope="row">@{int count = j + 1;}@count</th>
                                    <td height="10">
                                        <!-- Make link to prject. post project id -->
                                        <form asp-action="SingleProjectView" asp-controller="Project" method="post">
                                            <button class="btn btn-link btn-sm" type="submit" name="projectName" value="@Model.Projects[j].Title">@Model.Projects[j].Title</button>

                                        </form>
                                    </td>
                                    <td>@Model.Projects[j].Projectleder.Name</td>
                                    <td>@Model.Projects[j].StartDate.ToString("dd-MM-yyyy")</td>
                                </tr>
                            </tbody>
                        }
                    }

                </table>

            </dd>

        </dl>

    </div>

</div>