@model List<Skp_ProjektDB.Models.User>

@{
    ViewData["Title"] = "UserOverView";
    if (Model[0].Admin == true)
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    else
        Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model[0].Admin == true)
{
    <!-- This is used for search it takes in a string through input and sends it to UserController via a post method -->
    @using (Html.BeginForm("UserSearch", "User", FormMethod.Post))
    {
        <input name="searchWord" type="text" placeholder="Søg efter navn her" />
        <input type="submit" class="btn btn-outline-info bg-dark" value="Søg" />
    }

    <ul class="card-color mt-2" style="list-style-type: decimal; width:250px;">

        @for (int i = 0; i < Model.Count; i++)
        {
            <li>
                <div class="list-group list-group-horizontal">

                    <div class="list-group-item list-group-item-info">
                        <form asp-action="SingleUserView">
                            <button class="btn btn-link btn-sm" type="submit" name="userName" value="@Model[i].Login">@Model[i].Name</button>
                        </form>
                    </div>

                    <div class="list-group-item list-group-item-info">

                        <form asp-action="DeleteUser">
                            <button class="btn btn-danger btn-sm" type="submit" name="userName" value="@Model[i].Login">Fjern</button>
                        </form>

                    </div>

                    <div class="list-group-item list-group-item-info">

                        <form asp-action="AddRoleToUser">
                            <button class="btn btn-success" type="submit" name="userName" value="@Model[i].Login">Tilføj rolle</button>
                        </form>

                    </div>

                </div>

            </li>

        }
    </ul>


}
else
{
    <!-- This is used for search it takes in a string through input and sends it to UserController via a post method -->
    @using (Html.BeginForm("UserSearch", "User", FormMethod.Post))
    {
        <input name="searchWord" type="text" placeholder="Søg efter navn her" />
        <input type="submit" class="btn btn-outline-info bg-dark" value="Søg" />
    }

    <ul class="card-color mt-2" style="list-style-type: decimal; width:250px;">

        @for (int i = 0; i < Model.Count; i++)
        {
            <li>
                <div class="list-group-item list-group-item-info">
                    <form asp-action="SingleUserView">
                        <button class="btn btn-link btn-sm" type="submit" name="userName" value="@Model[i].Login">@Model[i].Name</button>
                    </form>
                </div>
            </li>

        }
    </ul>
}